
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(/images/library.jpeg);
}

header {
    background-color: lemonchiffon;
    opacity: 90%;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

main {
    flex: 9;
    background-color: antiquewhite;
    opacity: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

table {
    border: 1px solid;
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th img {
    height: 1rem;
    margin-inline: 1rem;
    vertical-align: middle;
}

th img:hover {
    cursor: pointer;
    scale: 1.4;
}

th img:active {
    scale: 1.2;
}

.removeBtn:hover, .readIcon:hover {
    cursor: pointer;
    scale:1.1;
}

.removeBtn:active, .readIcon:active {
    scale: 1;
}

h2 {
    font-size: 1.2rem;
}

form {    
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem 2.5%;
}

.formContainer .inputField {
    align-self: center;
}

label {
display: inline-flex;
align-items: center;
gap: 4px;
margin-right: 12px;
}

input {
    outline: none;
}

th, td {
    padding: 0.5rem;
    border: 1px solid;
    width: 25%;
    text-align: center;
}

.readIcon {
    vertical-align: middle;
}

.readSpan {
    display: inline-block;
    width: 75px;
}

footer {
    background-color: lemonchiffon;
    opacity: 90%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 1rem;
    padding-bottom: 0.5rem;   
}

@media (min-width: 1000px) {
    header, main, footer, table, form {
        width: 90%;
    }
}

@media (min-width: 1250px) {
    header, main, footer, table, form {
        width: 85%;
    }
}

@media (min-width: 1500px) {
    header, main, footer, table, form {
        width: 80%;
        max-width: 1500px;
    }
}